@using mywebsite.Models.Products

@{
    ViewData["Title"] = "Додавання клавіатури";
}
@model Barebone

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додавання клавіатури</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Додавання клавіатури</h2>
        <form asp-action="AddBarebone" asp-controller="Manager" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="Name">Назва</label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Layout">Формат клавіатури</label>
                <input asp-for="Layout" class="form-control" required />
                <span asp-validation-for="Layout" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input asp-for="RGB" class="form-check-input" type="checkbox" />
                    <label asp-for="RGB" class="form-check-label">RGB підсвітка</label>
                </div>
                <span asp-validation-for="RGB" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input asp-for="HotSwap" class="form-check-input" type="checkbox" />
                    <label asp-for="HotSwap" class="form-check-label">Hot-Swap</label>
                </div>
                <span asp-validation-for="HotSwap" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Connection">Тип підключення</label>
                <input asp-for="Connection" class="form-control" required />
                <span asp-validation-for="Connection" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CaseMaterial">Матеріал корпусу</label>
                <input asp-for="CaseMaterial" class="form-control" required />
                <span asp-validation-for="CaseMaterial" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mount">Mount</label>
                <input asp-for="Mount" class="form-control" required />
                <span asp-validation-for="Mount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="imageFile">Додати зображення</label>
                <input id="imageFile" name="imageFile" type="file" class="form-control" accept="image/*" />
                <small class="form-text text-muted">Виберіть файл зображення клавіатури</small>
            </div>
            <button type="submit" class="btn btn-primary">Додати клавіатуру</button>
        </form>
    </div>

</body>
</html>
